{% extends 'admin/master.html' %}
{% block body %}
<div class="container" style = "padding-top: 30px;">
    <table class="table">
        <tbody>
            <tr>
                <td>number of tovars</td>
                <td>{{ tovar_data }}</td>
            </tr>
            <tr>
                <td>number of orders</td>
                <td>{{ order_data }}</td>
            </tr>
            <tr>
                <td>number of points</td>
                <td>{{ point_data }}</td>
            </tr>
            <tr>
                <td>number of vifeo file</td>
                <td>{{ num_videos }}</td>
            </tr>
            <tr>
                <td>number of img files</td>
                <td>{{ num_images }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('admin.backup_database') }}" class="btn btn-primary">Скачать резервную копию</a>

</div>
{% endblock %}
