<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Статистика</h1>
    <p>Количество товаров: {{ tovar_data }}</p>
    <p>Количество заказов: {{ order_data }}</p>
    <p>Количество точек: {{ point_data }}</p>
    
    <h2>Изображения ({{ num_images }})</h2>
    <ul>
        {% for image in images %}
            <li><img src="{{ image }}" alt="Image" style="width: 100px;"></li>
        {% endfor %}
    </ul>

    <h2>Видео ({{ num_videos }})</h2>
    <ul>
        {% for video in videos %}
            <li><video width="320" height="240" controls>
                <source src="{{ video }}" type="video/mp4">
                Your browser does not support the video tag.
            </video></li>
        {% endfor %}
    </ul>
</body>
</html>