{% extends "base.html" %}
{% block content %}

<div class="info_page">
    <div class="faq_question_info">
        <div class="info_page_name">
            Additional information
        </div>
        <div class="infos">
            <p>Seller:</p>
            <p>INDIVIDUAL ENTREPRENEUR SIDOROV MAXIM ANDREEVICH</p>
            <p>INN: 1016012...</p>
            <p>OGRNIP: 3213....</p>

            <p>Refund Policy:</p>
            <p>The refund is made only in case of a marriage. In this case,
            </p>
            <p>the product is replaced out of stock or a full refund is made. </p>
            <p>To resolve issues with the refund, </p>
            <p>please contact the post office t.me/shin_7171 </p>
            <p>by specifying "Marriage" and your order number in the subject line.</p>
            <p>Support:</p>
            <p>t.me/shin_7171</p>
        </div>
    </div>
</div>
{% endblock %}

